<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NT Search</title>

    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    
    <div id="main">
        <footer>
            <p>Made with <span>❤️</span> by Nikita <span id="lastName">Pryymak</span> | </p>
            <a href="https://twitter.com/NikitaPryymak" class="fab fa-twitter"></a>
            <a href="https://www.instagram.com/nikitapryymak/?hl=en" class="fab fa-instagram"></a>
            <a href="https://github.com/nikitapryymak?tab=repositories" class="fab fa-github"></a>
            <a href="mailto: nikitapryymak29@gmail.com" class="fas fa-envelope"></a>
        </footer>
    </div>

</body>
</html>